<a href="https://colab.research.google.com/github/yeseul106/Data_Mining/blob/main/Data_Mining_Assignment9_Linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# student_health csv 파일 읽어오기
student_health = pd.read_csv('/content/drive/MyDrive/강의/데이터마이닝 수업/student_health_3.csv', encoding='cp949')
print(student_health.shape)
student_health.head(5)

(1125, 25)

            ID       최종가중치  학교ID      도시규모  ... 혈색소gdl  간염검사  수축기 이완기
0  Aa011남10101  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   77  58
1  Aa011남10102  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   83  51
2  Aa011남10103  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  103  65
3  Aa011남10104  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   92  66
4  Aa011남10105  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  102  59

[5 rows x 25 columns]

In [ ]:
# 초등학교 1학년과 4학년 두가지만 존재하는 것을 확인
student_health['학년'].value_counts()

4    569
1    556
Name: 학년, dtype: int64

In [ ]:
#학년을 예측할 때 필요한 feature만 정리 (수축기, 이완기, 키, 몸무게)
student_data = pd.DataFrame(student_health, columns=['키', '몸무게','수축기', '이완기', '학년'])
print("student_data의 shape : ",student_data.shape)
student_data.head(5)

student_data의 shape :  (1125, 5)

       키   몸무게  수축기  이완기  학년
0  125.8  27.3   77   58   1
1  124.3  25.4   83   51   1
2  119.2  23.5  103   65   1
3  115.0  20.0   92   66   1
4  120.0  33.5  102   59   1

In [ ]:
# 입력 데이터
input_data = student_data[['키', '몸무게','수축기', '이완기']].to_numpy()
print("input_data shape : ",input_data.shape)

input_data shape :  (1125, 4)

In [ ]:
print("input_data[0]: ", input_data[0])

input_data[0]:  [125.8  27.3  77.   58. ]

In [ ]:
y_label = student_data['학년'].to_numpy()
print("y_label shape : ",y_label.shape)

y_label shape :  (1125,)

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

model = LinearDiscriminantAnalysis()
model.fit(input_data,y_label)

LinearDiscriminantAnalysis()

In [ ]:
# 처음 40개 샘플 예측
print("예측 값:", model.predict(input_data[:40]))
print("실제 값:", y_label[:40])

예측 값: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 4
 1 1 4]
실제 값: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 4
 4 4 4]

In [ ]:
# 예측한 값을 새로운 열로 추가하기
student_data['예측한 학년'] = model.predict(input_data[:])
student_data

          키   몸무게  수축기  이완기  학년  예측한 학년
0     125.8  27.3   77   58   1       1
1     124.3  25.4   83   51   1       1
2     119.2  23.5  103   65   1       1
3     115.0  20.0   92   66   1       1
4     120.0  33.5  102   59   1       1
...     ...   ...  ...  ...  ..     ...
1120  134.1  33.1  100   60   4       4
1121  142.7  33.1   84   46   4       4
1122  130.2  27.6  100   55   4       4
1123  146.2  41.7  109   60   4       4
1124  129.3  28.9   95   60   4       1

[1125 rows x 6 columns]

In [ ]:
# 모델의 점수
model.score(input_data,y_label)

0.96