<a href="https://colab.research.google.com/github/yeseul106/Data_Mining/blob/main/DataMining_Week11_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
# 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# student_health csv 파일 읽어오기
student_health = pd.read_csv('/content/drive/MyDrive/강의/데이터마이닝 수업/student_health_3.csv', encoding='cp949')
print(student_health.shape)
student_health.head(5)

(1125, 25)

            ID       최종가중치  학교ID      도시규모  ... 혈색소gdl  간염검사  수축기 이완기
0  Aa011남10101  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   77  58
1  Aa011남10102  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   83  51
2  Aa011남10103  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  103  65
3  Aa011남10104  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   92  66
4  Aa011남10105  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  102  59

[5 rows x 25 columns]

In [5]:
# 키와 몸무게를 가지고 학년을 예측
# 학년의 범위를 파악
student_health['학교명'].unique()

array(['서울대도초등학교', '서울은빛초등학교', '서울구일초등학교', '서울길원초등학교', '서울원촌초등학교',
       '서울면동초등학교', '서울성내초등학교', '서울구산초등학교', '서울강명초등학교', '서울삼전초등학교',
       '서울난향초등학교', '서울천호초등학교', '서울독산초등학교', '서울쌍문초등학교', '서울영원초등학교',
       '경기초등학교', '서울가원초등학교', '서울중목초등학교', '서울신구초등학교', '서울월천초등학교',
       '서울삼광초등학교', '서울백산초등학교', '서울창천초등학교'], dtype=object)

**모든 데이터의 학교가 초등학교만 있음을 확인.**

In [6]:
# 초등학교 1학년과 4학년 두가지만 존재하는 것을 확인
student_health['학년'].value_counts()

4    569
1    556
Name: 학년, dtype: int64

In [7]:
#학년을 예측할 때 필요한 feature만 정리 (수축기, 이완기, 키, 몸무게)
student_data = pd.DataFrame(student_health, columns=['키', '몸무게','수축기', '이완기', '학년'])
print("student_data의 shape : ",student_data.shape)
student_data.head(5)

student_data의 shape :  (1125, 5)

       키   몸무게  수축기  이완기  학년
0  125.8  27.3   77   58   1
1  124.3  25.4   83   51   1
2  119.2  23.5  103   65   1
3  115.0  20.0   92   66   1
4  120.0  33.5  102   59   1

# **MLPClassifier**

In [8]:
student_data.loc[0,:] # 열의 인덱스가 헤더를 제외하고 0부터 잘 들어가있음.

키      125.8
몸무게     27.3
수축기     77.0
이완기     58.0
학년       1.0
Name: 0, dtype: float64

In [9]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split


# 입력 데이터
input_data = student_data[['키', '몸무게','수축기', '이완기']].to_numpy()
print("input_data shape : ",input_data.shape)
y_label = student_data['학년'].to_numpy()
print("y_label shape : ",y_label.shape)

x_train, x_test, y_train, y_test = train_test_split(input_data,y_label,random_state=1)
print("x_train shape : ",x_train.shape)
print("x_test shape : ",x_test.shape)
print("y_train shape : ",y_train.shape)
print("y_test shape : ",y_test.shape)

input_data shape :  (1125, 4)
y_label shape :  (1125,)
x_train shape :  (843, 4)
x_test shape :  (282, 4)
y_train shape :  (843,)
y_test shape :  (282,)

In [10]:
model = MLPClassifier(random_state=1, max_iter =300).fit(x_train,y_train)

In [11]:
# 처음 40개 샘플 예측 (훈련 데이터)
print("예측 값:", model.predict(x_train[:40]))
print("실제 값:", y_train[:40])

예측 값: [4 1 1 1 4 1 4 4 1 4 4 4 1 1 4 4 4 1 4 1 1 1 4 4 4 1 1 4 4 4 4 4 4 4 4 1 4
 1 4 1]
실제 값: [4 4 1 1 4 1 1 4 1 4 4 4 1 1 4 4 4 1 4 4 1 1 4 1 1 4 1 1 4 4 4 4 1 4 4 1 4
 4 4 1]

In [13]:

# 처음 40개 샘플 예측 (테스트 데이터)
print("예측 값:", model.predict(x_test[:40]))
print("실제 값:", y_test[:40])

예측 값: [4 4 4 4 4 4 4 4 1 4 4 1 4 4 4 4 4 1 1 1 1 1 1 4 4 4 1 4 4 4 1 4 4 4 4 4 4
 4 4 4]
실제 값: [1 4 4 4 1 4 1 4 1 4 4 1 1 1 4 1 1 1 1 1 1 1 1 4 4 4 1 4 4 4 1 4 4 4 4 1 4
 4 4 1]

In [14]:
# # 예측한 값을 새로운 열로 추가하기
# student_data['예측한 학년'] = model.predict(input_data[:])
# student_data

In [15]:
# 처음 10개 샘플의 예측 확률 (훈련 데이터)
model.predict_proba(x_train[:10])

array([[8.07969393e-04, 9.99192031e-01],
       [7.30550298e-01, 2.69449702e-01],
       [8.39364583e-01, 1.60635417e-01],
       [7.09414361e-01, 2.90585639e-01],
       [6.50057456e-02, 9.34994254e-01],
       [8.65148406e-01, 1.34851594e-01],
       [1.96722898e-01, 8.03277102e-01],
       [3.04418188e-01, 6.95581812e-01],
       [7.49469175e-01, 2.50530825e-01],
       [2.45418868e-01, 7.54581132e-01]])

In [16]:
# 처음 10개 샘플의 예측 확률 (테스트 데이터)
model.predict_proba(x_test[:10])

array([[0.38372029, 0.61627971],
       [0.11112157, 0.88887843],
       [0.35631473, 0.64368527],
       [0.07587877, 0.92412123],
       [0.36283258, 0.63716742],
       [0.03262351, 0.96737649],
       [0.05846724, 0.94153276],
       [0.01771652, 0.98228348],
       [0.83347193, 0.16652807],
       [0.36536664, 0.63463336]])

In [19]:
# 모델의 점수
model.score(x_train,y_train)

0.8030842230130486

In [18]:
 # 모델의 점수
model.score(x_test,y_test)

0.8049645390070922