<a href="https://colab.research.google.com/github/yeseul106/Data_Mining/blob/main/Data_Mining_Assignment10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
# 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# student_health csv 파일 읽어오기
student_health = pd.read_csv('/content/drive/MyDrive/강의/데이터마이닝 수업/student_health_3.csv', encoding='cp949')
print(student_health.shape)
student_health.head(5)

(1125, 25)

            ID       최종가중치  학교ID      도시규모  ... 혈색소gdl  간염검사  수축기 이완기
0  Aa011남10101  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   77  58
1  Aa011남10102  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   83  51
2  Aa011남10103  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  103  65
3  Aa011남10104  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   92  66
4  Aa011남10105  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  102  59

[5 rows x 25 columns]

In [6]:
# 키와 몸무게를 가지고 학년을 예측
# 학년의 범위를 파악
student_health['학교명'].unique()

array(['서울대도초등학교', '서울은빛초등학교', '서울구일초등학교', '서울길원초등학교', '서울원촌초등학교',
       '서울면동초등학교', '서울성내초등학교', '서울구산초등학교', '서울강명초등학교', '서울삼전초등학교',
       '서울난향초등학교', '서울천호초등학교', '서울독산초등학교', '서울쌍문초등학교', '서울영원초등학교',
       '경기초등학교', '서울가원초등학교', '서울중목초등학교', '서울신구초등학교', '서울월천초등학교',
       '서울삼광초등학교', '서울백산초등학교', '서울창천초등학교'], dtype=object)

**모든 데이터의 학교가 초등학교만 있음을 확인.**

In [7]:
# 초등학교 1학년과 4학년 두가지만 존재하는 것을 확인
student_health['학년'].value_counts()

4    569
1    556
Name: 학년, dtype: int64

In [8]:
#학년을 예측할 때 필요한 feature만 정리 (수축기, 이완기, 키, 몸무게)
student_data = pd.DataFrame(student_health, columns=['키', '몸무게','수축기', '이완기', '학년'])
print("student_data의 shape : ",student_data.shape)
student_data.head(5)

student_data의 shape :  (1125, 5)

       키   몸무게  수축기  이완기  학년
0  125.8  27.3   77   58   1
1  124.3  25.4   83   51   1
2  119.2  23.5  103   65   1
3  115.0  20.0   92   66   1
4  120.0  33.5  102   59   1

In [9]:
student_data.loc[0,:] # 열의 인덱스가 헤더를 제외하고 0부터 잘 들어가있음.

키      125.8
몸무게     27.3
수축기     77.0
이완기     58.0
학년       1.0
Name: 0, dtype: float64

In [11]:
# 입력 데이터
input_data = student_data[['키', '몸무게','수축기', '이완기']].to_numpy()
print("input_data shape : ",input_data.shape)

input_data shape :  (1125, 4)

In [12]:
print("input_data[0]: ", input_data[0])

input_data[0]:  [125.8  27.3  77.   58. ]

In [13]:
y_label = student_data['학년'].to_numpy()
print("y_label shape : ",y_label.shape)

y_label shape :  (1125,)

# **K-mean Clustering**
- 비지도 학습이기 때문에, fit() 메서드에서 타깃 데이터를 사용하지 않음 !
- 두 개의 클래스로 분류를 할 것이기 때문에 n_clusters 파라미터를 2로 설정한다.

In [14]:
from sklearn.cluster import KMeans

km = KMeans(n_clusters=2, random_state=0)
km.fit(input_data)

KMeans(n_clusters=2, random_state=0)

군집된 결과는 KMeans 클래스 객체의 labels_ 속성에 저장된다.

n_clusters=2로 지정했기 때문에 **labels_ 배열의 값은 0,1 이다.**

In [21]:
print('labels:', km.labels_)
print('실제 학년:', y_label)
print('labels의 길이 : ', len(km.labels_))
print("y_label의 길이 : ",len(y_label))

labels: [1 1 1 ... 1 0 1]
실제 학년: [1 1 1 ... 4 4 4]
labels의 길이 :  1125
y_label의 길이 :  1125

근데 레이블값 0,1이 각각 어떤 클래스(학년)을 뜻하는지는 알 수 없음.

하지만 밑의 결과를 참고하여 예상해봤을 때, **label 0**이 **4학년**, **label 1**이 **1학년**일 것이다.

In [27]:
# 처음 40개 샘플 예측
print("예측 값:", km.predict(input_data[:100]))
print("실제 값:", y_label[:100])

예측 값: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0
 1 1 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0
 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
실제 값: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [26]:
print('km.cluster_centers_ : ', km.cluster_centers_)

km.cluster_centers_ :  [[139.8918   37.7758  102.838    62.79   ]
 [122.77168  24.67264  92.9424   57.888  ]]

In [34]:
# 맞게 예측한 샘픙의 갯수 구해보기 (백분율 구해보기)
count = 0
pred = km.predict(input_data[:])
real = y_label
print(len(pred))

for i in range(len(y_label)):
  if ((pred[i] == 0) and (real[i] == 4)) or ((pred[i]== 1) and (real[i] == 1)):
    count = count + 1

print('맞춘 백분율: ', (count / len(y_label)) * 100 , "%")

1125
맞춘 백분율:  88.17777777777778 %