<a href="https://colab.research.google.com/github/yeseul106/Data_Mining/blob/main/DataMining_Week5_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# student_health csv 파일 읽어오기
student_health = pd.read_csv('/content/drive/MyDrive/강의/데이터마이닝 수업/student_health_2.csv', encoding='cp949')
print(student_health.shape)
student_health.head(5)

(3569, 25)

            ID       최종가중치  학교ID      도시규모  ... 혈색소gdl  간염검사    수축기   이완기
0  Aa011남10101  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   77.0  58.0
1  Aa011남10102  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   83.0  51.0
2  Aa011남10103  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  103.0  65.0
3  Aa011남10104  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   92.0  66.0
4  Aa011남10105  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  102.0  59.0

[5 rows x 25 columns]

In [6]:
# 키와 몸무게를 가지고 학년을 예측
# 학년의 범위를 파악
student_health['학교명'].unique()

array(['서울대도초등학교', '서울은빛초등학교', '서울구일초등학교', '서울길원초등학교', '서울원촌초등학교',
       '서울면동초등학교', '서울성내초등학교', '서울구산초등학교', '서울강명초등학교', '서울삼전초등학교',
       '서울난향초등학교', '서울천호초등학교', '서울독산초등학교', '서울쌍문초등학교', '서울영원초등학교',
       '경기초등학교', '서울가원초등학교', '서울중목초등학교', '서울신구초등학교', '서울월천초등학교',
       '서울삼광초등학교', '서울백산초등학교', '서울풍성초등학교', '서울창천초등학교'], dtype=object)

**모든 데이터의 학교가 초등학교만 있음을 확인.**

In [7]:
# 초등학교 1학년부터 6학년까지 모두 존재하는지 확인
student_health['학년'].value_counts()

3    601
2    599
5    595
6    592
1    591
4    591
Name: 학년, dtype: int64

In [8]:
# 키와 몸무게를 가지고 학년을 예측하므로 필요한 feature만 정리
student_data = pd.DataFrame(student_health, columns=['키', '몸무게', '학년'])
print("student_data의 shape : ",student_data.shape)
student_data.head(5)

student_data의 shape :  (3569, 3)

       키   몸무게  학년
0  125.8  27.3   1
1  124.3  25.4   1
2  119.2  23.5   1
3  115.0  20.0   1
4  120.0  33.5   1

# **KNN 알고리즘**
**KNeighborsClassifier() : k = 4로 실행**

In [16]:
from sklearn.neighbors import KNeighborsClassifier

# 키와 몸무게를 리스트로 짝지어서 다시 정리
height_weight = [[h, w] for h, w in zip(student_data['키'], student_data['몸무게'])]
print("height_weight의 len : ", len(height_weight))
print("height_weight[0]: ", height_weight[0])

height_weight의 len :  3569
height_weight[0]:  [125.8, 27.3]

In [17]:
y_label = student_data['학년']
print("정답 레이블의 shape : ", y_label.shape)

정답 레이블의 shape :  (3569,)

In [18]:
knn = KNeighborsClassifier()
knn.fit(height_weight, y_label)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

**키 150, 몸무게 45인 학생의 학년 예측하기**

In [19]:
knn.predict([[150,45]])

array([6])