<a href="https://colab.research.google.com/github/yeseul106/Data_Mining/blob/main/Final_problem6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
# student_health 파일 읽어오기
student_health = pd.read_csv('/content/drive/MyDrive/강의/데이터마이닝 수업/final/student_health_5.csv', encoding='cp949')
print(student_health.shape)
student_health.head(5)

(1125, 17)

            ID       최종가중치  학교ID      도시규모  ... 성별       건강검진일      키   몸무게
0  Aa011남10101  169.550665  Aa01  대도시/중소도시  ...  남  2015-05-12  125.8  27.3
1  Aa011남10102  169.550665  Aa01  대도시/중소도시  ...  남  2015-04-22  124.3  25.4
2  Aa011남10103  169.550665  Aa01  대도시/중소도시  ...  남  2015-04-21  119.2  23.5
3  Aa011남10104  169.550665  Aa01  대도시/중소도시  ...  남  2015-04-21  115.0  20.0
4  Aa011남10105  169.550665  Aa01  대도시/중소도시  ...  남  2015-04-23  120.0  33.5

[5 rows x 17 columns]

In [25]:
student_health['학년'].value_counts()

4    569
1    556
Name: 학년, dtype: int64

In [26]:
#학년을 예측할 때 필요한 feature만 정리 (키, 몸무게)
student_data = pd.DataFrame(student_health, columns=['키', '몸무게','학년'])
print("student_data의 shape : ",student_data.shape)
student_data.head(5)

student_data의 shape :  (1125, 3)

       키   몸무게  학년
0  125.8  27.3   1
1  124.3  25.4   1
2  119.2  23.5   1
3  115.0  20.0   1
4  120.0  33.5   1

In [27]:
# 입력 데이터
input_data = student_data[['키', '몸무게']].to_numpy()
print("input_data shape : ",input_data.shape)
y_label = student_data['학년'].to_numpy()
print("y_label shape : ",y_label.shape)

input_data shape :  (1125, 2)
y_label shape :  (1125,)

In [30]:
print("저학년과 고학년으로 class 나누기 전의 y_label:", y_label[:40])

저학년과 고학년으로 class 나누기 전의 y_label: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2
 2 2 2]

In [31]:
# 1~3학년을 저학년(class 1), 4~6학년을 고학년(class 2)로 나타내기
for i in range(input_data.shape[0]):
    num = y_label[i]
    if num ==1 or num==2 or num==3:
      y_label[i] = 1
    elif num==4 or num==5 or num==6:
      y_label[i] = 2

In [33]:
print("저학년과 고학년으로 class 나눈 후의 y_label:", y_label[:40])

저학년과 고학년으로 class 나눈 후의 y_label: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1]

In [34]:
from sklearn.cluster import KMeans

km = KMeans(n_clusters=2, random_state=0)
km.fit(input_data)

KMeans(n_clusters=2, random_state=0)

In [35]:
print(km.labels_[:40])

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0
 1 1 0]

In [36]:
results = km.labels_

for idx in range(0,len(results)):
  if results[idx] == 0:
    results[idx] = 2

print(km.labels_[:40])

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2
 1 1 2]

In [37]:
# 모델 정확도 계산하기
cnt = 0
for idx in range(0,len(results)):
  if results[idx] == y_label[idx]:
    cnt+=1

print("Accuracy:", cnt/len(results))

Accuracy: 0.5368888888888889