<a href="https://colab.research.google.com/github/yeseul106/Data_Mining/blob/main/Final_problem3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# data 파일 읽어오기
data = pd.read_csv('/content/drive/MyDrive/강의/데이터마이닝 수업/final/subway_1.csv', encoding='cp949')
print(data.shape)
data.head(5)

(62, 6)

       사용일자  노선명         역명  승차총승객수  하차총승객수      등록일자
0  20210701   20  왕십리(성동구청)   13591   15315  20210704
1  20210701    5  왕십리(성동구청)    4636    5043  20210704
2  20210702   20  왕십리(성동구청)   14551   16455  20210705
3  20210702    5  왕십리(성동구청)    4889    5416  20210705
4  20210703   20  왕십리(성동구청)   10935   12689  20210706

# **Logistic Regression**

In [4]:
from sklearn.linear_model import LogisticRegression

# 입력 데이터
input_data = data[['승차총승객수','하차총승객수']].to_numpy()
print("input_data shape : ",input_data.shape)
y_label = data['노선명'].to_numpy()
print("y_label shape : ",y_label.shape)

input_data shape :  (62, 2)
y_label shape :  (62,)

In [5]:
model = LogisticRegression()
model.fit(input_data,y_label)

LogisticRegression()

In [6]:
# 모델의 점수
print("모델의 점수:", model.score(input_data,y_label))

1.0

In [7]:
# 10000과 10000을 각각의 입력값으로
input = np.array([10000,10000])
print("[10000,10000] 예측 값:", model.predict([input]))

[10000,10000] 예측 값: [20]