<a href="https://colab.research.google.com/github/yeseul106/Data_Mining/blob/main/Midterm_Problem4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# park csv 파일 읽어오기
park = pd.read_csv('/content/drive/MyDrive/강의/데이터마이닝 수업/park.csv', encoding='cp949')
print(park.shape)
park.head(5)

(55, 5)

      년도   구분    일반이용자    운동시설     자전거
0  2009년  광나루  1374424  157913  396165
1  2009년   잠실  1860362   69587  481561
2  2009년   뚝섬  1957592   49270  679795
3  2009년   잠원   849218  265643  431169
4  2009년   반포  1093427  147756  464922

In [ ]:
# 구분하는 Class가 몇개인지 파악
park['구분'].unique()

array(['광나루', '잠실', '뚝섬', '잠원', '반포', '이촌', '여의도', '양화', '망원', '난지', '강서'],
      dtype=object)

In [ ]:
park['구분'].value_counts()

잠실     5
광나루    5
반포     5
뚝섬     5
난지     5
양화     5
이촌     5
여의도    5
망원     5
강서     5
잠원     5
Name: 구분, dtype: int64

In [ ]:
# 일반이용자,운동시설이용자,자전거이용자 3개를 가지고 예측하므로 필요한 feature만 정리
park_data = pd.DataFrame(park, columns=['구분', '일반이용자', '운동시설', '자전거'])
print("park_data shape : ",park_data.shape)
park_data.head(5)

park_data shape :  (55, 4)

    구분    일반이용자    운동시설     자전거
0  광나루  1374424  157913  396165
1   잠실  1860362   69587  481561
2   뚝섬  1957592   49270  679795
3   잠원   849218  265643  431169
4   반포  1093427  147756  464922

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

# 일반이용자, 운동시설, 자전거를 리스트로 짝지어서 다시 정리
feature_list = [[x, y, z] for x,y,z in zip(park_data['일반이용자'], park_data['운동시설'], park_data['자전거'])]
print("feature_list의 len : ", len(feature_list))
print("feature_list[0]: ", feature_list[0])
print("feature_list[4]: ", feature_list[4])

feature_list의 len :  55
feature_list[0]:  [1374424, 157913, 396165]
feature_list[4]:  [1093427, 147756, 464922]

In [ ]:
y_label = park_data['구분']
print("정답 레이블의 shape : ", y_label.shape)

정답 레이블의 shape :  (55,)

In [ ]:
knn = KNeighborsClassifier()
knn.fit(feature_list, y_label)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [1]:
# knn.predict 하기

In [ ]:
print(knn.predict([[1500000,20000,500000]]))

['잠실']